<div class='card mt-5' style='width: 18rem;'>
  <div class='card-body'>
    <h5 class='card-title'>{{product.name}}</h5>
    <p class='card-text'>Preço: R${{product.price}}</p>
    <p class='card-text'>Estoque: {{product.stock}}</p>
  </div>
</div>