body {
  font-family: Arial, sans-serif;
  background-color: rgb(208, 232, 223);
  margin: 0;
  padding: 20px;
}

.navbar {
  margin-bottom: 20px;
  background-color: rgb(193, 234, 219);
}

.container {
  max-width: 600px;
  margin: auto;
}

.input-group {
  margin-bottom: 20px;
}

.task-card {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-card button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.task-card button:hover {
  background-color: #c82333;
}
